language: php

env:
    global:
        - XDEBUG_MODE=coverage

cache:
    directories:
        - $HOME/.composer/cache

matrix:
    include:
        - php: 7.2
        - php: 7.3
        - php: 7.4
          env: COVERAGE=true PHPUNIT_FLAGS="-v --coverage-clover=coverage.clover"
    fast_finish: true

allow_failures:
    # Dev-master is allowed to fail.
    - env: STABILITY="dev"

before_install:
    - if [[ $COVERAGE != true ]]; then phpenv config-rm xdebug.ini || true; fi

install: composer update --no-interaction --prefer-dist

script:
    - vendor/bin/phpunit $PHPUNIT_FLAGS

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar && php ocular.phar code-coverage:upload --format=php-clover coverage.clover
